<div class="bg-linear-to-br from-purple-900 to-blue-900 min-h-screen pt-50">
  <main class="flex flex-col max-w-lg mx-auto min-h-80 p-4 pt-20 gap-[20px] xl:flex-row xl:max-w-screen-lg">

    <!--Llamamos a los componentes-->
    <app-recurso-form class="w-full xl:w-1/2" (recursoAgregado)="agregarRecurso($event)"></app-recurso-form>
    <app-recurso-list class="w-full xl:w-1/2" [recursos]="recursos" (toggleAdquirido)="toggleAdquirido($event)"
      (eliminarRecurso)="eliminarRecurso($event)"></app-recurso-list>
  </main>
</div>

